/*
 * 画面全体に関する設定
 */

html{
  background:#e9e9e9
}
body {
    font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
    background:#e9e9e9
}

a {
    color: rgb(230, 236, 238);
}

div {
    margin: 20px 0px;
}

.row {
    margin: 20px;
}
    
.index-user_name_text {
    width: 200px;
}

.room-message_textarea {
    width: 500px;
}


.allContainer{width:100%; margin:auto; background:#e9e9e9}
img{ max-width:100%;}

.box{
  padding:20px 0 0 0;
}


.inbox_menus {
  margin:0;
  background: #fafafa none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 20%; 
  background:#fafafa;

  box-shadow: 15px 0 15px -15px gray;
}

.inbox {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
  width:80%;
  margin:0 auto;
  background:#fafafa;
  border-radius: 20px;
  box-shadow: 0 0 15px gray;
}
.top_spac{ margin: 60px 0 0 0;}

/* sidebarのcss */
.user_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.user_ib h5 span{ font-size:13px; float:right;}
.user_ib p{ font-size:14px; color:#989898; margin:auto}
.user_img {
  float: left;
  width: 11%;
}
.user_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.menu_user{ 
  overflow:hidden;
  clear:both;
 padding-left: 10px;
 margin:0 auto;
 width:140px;
 
}

.menu_list {

  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_menu { 
  height: 550px; 
  overflow-y: scroll;
  background: #fafafa;
  margin:0;
}


/* ボタンのサイズ統一 */
.active_menu .btn {
  width: 110px;
}
/* sidebarのcss */


/* chat画面用CSS > */
.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 80%;
}

 .sent_msg p {
  background: #4caf50 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}

.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
  display: inline-block;
}

.type_msg {box-shadow: 0 -15px 15px -15px gray;position: relative;}

.form-group {
  margin:0;
  padding:0;
}

.bmd-form-group{
  margin:0;
  padding:0;
}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 6px;
  width: 33px;
}

.msg_history {
  height: 516px;
  overflow-y: auto;
}

.taskButton{
  margin:30px 0 0 0;
}

.aaa{
background:#FFD740
}

/* < チャット画面CSS*/

/* create-task画面CSS > */

.create_task{
  float: left;
  padding: 30px 15px 0 25px;
  width: 80%;
}

/* < create-task画面CSS*/

/* 全体タスク画面CSS > */
.task_contents {
  float: left;
  padding: 30px 15px 0 25px;
  width: 80%;
}

.task_contents_box{
  height: 600px;
  overflow-y: auto;
}

/* < 全体タスク画面CSS */

/* 個人タスク画面CSS> */
.nts_box{
  height: 600px;
  overflow-y: auto;
}
/* <個人タスク画面CSS */