<div class="container">
    <div class="row">
        <h1>Node Chat サンプル</h1>
    </div>
    <div class="row">
        {{!-- /room に'post'する --}}
        <form method="post" action="/user">
            <div class="index-user_name">
                あなたの名前
                <input type="text" id="userName" name="userName" class="index-user_name_text">
            </div>

            <div class='index-enter'>
                <input type="button" value="ログイン" class="common-button index-enter_button" onclick="login()"/>
            </div>
        </form>

<script src="/javascripts/index.js"></script>
