<div class="index_container">
    <h3 class=" text-center">Node Chat Sample</h3>
    <div class="form-wrapper">
        <h1>Sign In</h1>
        <form method="post" action="/user">
            <form method="post" action="/user">
                <div class="form-group">
                    <label for="formGroupExampleInput" class="bmd-label-floating">User Name</label>
                    <input type="text" name="userName" class="form-control" id="formGroupExampleInput userName" required="required" />
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput" class="bmd-label-floating">User Name</label>
                    <input type="text" name="userPass" class="form-control" id="formGroupExampleInput userPass" required="required" />
                </div>

                <div class="button-panel">
                    <button type="submit" class="btn btn-raised btn-success button" title="Sign In" onclick="login()">Sign In</button>
                </div>
            </form>
        </form>
        <div class="form-footer">

        </div>
    </div>
    <p class="text-center top_spac"> ©︎ Copylight Rakus Intern A-team All Rights Reserved.</p>
</div>


<link rel="stylesheet" href="/stylesheets/index-style.css" />
<script src="/javascripts/index.js"></script>