<div class="container">
    <h3 class=" text-center">user-task</h3>
    <div class="box">
        <div class="inbox">
            <form method="post" action="/">
                <div class="inbox_menus">
                    <div class="inbox_menu">
                        <div class="menu_list active_menu">
                            <div class="menu_user">
                                <div class="user_img"> <img src="https://ptetutorials.com/images/user-profile.png"
                                        alt="sunil"> </div>
                                <div class="user_ib">
                                    <h5>User：{{userName}}
                                        <input id="userName" value={{userName}} type="hidden" value="">
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="menu_list active_menu text-center">
                            <a href="/user" class="btn btn-raised btn-info">個人タスク</a>
                        </div>
                        <div class="menu_list active_menu text-center">
                            <a href="/room" class="btn btn-raised btn-success">全体チャット</a>
                        </div>
                        <div class="menu_list active_menu text-center">
                            <a href="/task" class="btn btn-raised btn-success">全体タスク</a>
                        </div>
                        <div class="menu_list active_menu text-center">
                            <button type="button" class="btn btn-primary bmd-btn-fab bmd-btn-fab-sm">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                        <div class="menu_list active_menu text-center">
                            <a href="/" class="btn btn-raised btn-danger">ログアウト</a>
                        </div>
                    </div>
                </div>

                <div id="contents" class="task_contents">
                    <div class="task_contents_box">
                        <label style="font-size: large;">進行中のタスクはありません．</label>
                    </div>
                </div>
        </div>
    </div>
    </form>
</div>
</div>

<<<<<<< HEAD
    <main>
        <div id="contents">
            <h1>{{ user.name }}さんの個人タスク一覧ページ（簡易レスポンシブ済み）</h1>
        </div>
        <nav>
            {{!-- チャット画面へ入室 --}}
            <div>
                <button onclick="enter();"  class="common-button index-enter_button">チャットに入室</button>
            </div>
            {{!-- 全体タスク画面へページ遷移 --}}＿
            <div>
                <a href="/task" class="btn" >全体タスク画面へ</a>
            </div>
            {{!-- ログアウト --}}
            <div>
                <a href="/" class="btn" >ログアウト</a>
            </div>
        </nav>

        <div class="row main">
        <div id='name'>
            <h2>ようこそ、{{ user.name }}さん！</h2>
            <h3>以下、個人のタスクが列挙されます</h3>
        </div>
        </div>
    </div>
    </main>
=======
<p class="text-center top_spac"> rakus-intern-A-team</a></p>

>>>>>>> b9d44349b0f947789ed3fe275669f7656465e4ce
</div>
</div>
