<div class="container content">
    <div class="row">
        <h1>{{ userName }}さんの個人タスク一覧ページ</h1>
    </div>
    <nav>
        {{!-- チャット画面へ入室 --}}
        <div>
            <button onclick="enter();"  class="common-button index-enter_button">チャットに入室</button>
        </div>
        {{!-- 全体タスク画面へページ遷移 --}}＿
        <div>
            <a href="/task" class="btn" >全体タスク画面へ</a>
        </div>
        <div>
            <a href="/task_sample" class="btn" >全体タスクのサンプル画面へ</a>
        </div>
        {{!-- ログアウト --}}
        <div>
            <a href="/" class="btn" >ログアウト</a>
        </div>
    </nav>

    <div class="row main">
       <div id='name'>
           <h2>ようこそ、{{ userName }}さん！</h2>
           <h3>以下、個人のタスクが列挙されます</h3>
       </div>
    </div>
</div>

<script src="/javascripts/socket.js"></script>
<script src="/javascripts/enter.js"></script>