<div class="container content">
    <div class="row">
        <h1>{{ userName }}さんの個人タスク一覧ページ</h1>
    </div>
    <nav>
        <a href="/room" class="btn">チャット画面へ</a>
        <a href="/task" class="btn">全体タスク画面へ</a>
    </nav>

    <div class="row main">
       <div id='name'>
           <h2>ようこそ、{{ userName }}さん！</h2>
           <h3>以下、個人のタスクが列挙されます</h3>
       </div>
    </div>
</div>

<script src="/javascripts/index.js"></script>